{{> head }}
        {{{body}}}
<main>
    <section id="welkompagina">
        <img src="public/images/icons/dotsgrey.svg" id="dotsgrey">
        <img src="public/images/logomatchtaurant.svg">
        <article>
            <h1>Find your dream restaurant!</h1>
            <p>Explore awesome restaurants based on your favorite food.</p>
        </article>

        <button>Login</button>

        <button>Sign up</button>
        <a href="#"><p>Continue without signing up</p></a>
    </section>
</main>