{{> head }}
    {{> header }}
        {{{body}}}
<section id="accountheader">
    <article>
        <h1>Profile</h1>
        <a href="#"><p>Sign out</p></a>
    </article>
    <img src="public/images/icons/edit-icon.svg">
</section>

<section id="accountpagina">
    <article>
        <img>
        <h2>Hi {{user.name}}!</h2>
        <p>{{user.region}}</p>
    </article>
</section>
{{> nav }}