<section class="likes">
  <h1>Likes</h1>
</section>

<section class="blokken">
  <article>
    <img>
    <h2>Restaurantnaam</h2>
  </article>

  <article>
    <img>
    <h2>Restaurantnaam</h2>
  </article>

  <article>
    <img>
    <h2>Restaurantnaam</h2>
  </article>

  <article>
    <img>
    <h2>Restaurantnaam</h2>
  </article>

  <article>
    <img>
    <h2>Restaurantnaam</h2>
  </article>


</section>