<section class="likes">
  <h1>Likes</h1>
</section>

<section class="blokken">
  {{!-- Je moet even kijken wat handig is, gwn een vierkante img met daarop de tekst of de article een BG image geven via scss --}}
  <article>
    <img> 
    <h2>Restaurantnaam</h2>
  </article>

  <article>
    <img>
    <h2>Restaurantnaam</h2>
  </article>

  <article>
    <img>
    <h2>Restaurantnaam</h2>
  </article>

  <article>
    <img>
    <h2>Restaurantnaam</h2>
  </article>

  <article>
    <img>
    <h2>Restaurantnaam</h2>
  </article>


</section>