<section class="likes">
  <h1>Likes</h1>
  <ul>
    <li>
      <h2>Restaurant</h2>
      <h3>Cuisine</h3>
      <p>Location</p>
      <img src="/public/images/tijdelijke afbeelding.jpg" alt="">
    </li>
    <li>
      <h2>Restaurant</h2>
      <h3>Cuisine</h3>
      <p>Location</p>
      <img src="/public/images/tijdelijke afbeelding.jpg" alt="">
    </li>
  </ul>

</section>