<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>{{ page.title }} | Matchtaurant</title>
    <meta name="description" content="Bij Matchtaurant kan je nieuwe mensen leren kennen aan de hand van jouw interreses qua eten!">
    <link rel="icon" href="/public/images/icons/matches.svg">
    <link rel="stylesheet" type="text/css" href="/public/css/app.css">
</head>