<footer>
    <section id="navbar">

            <a href="/"><img src="/public/images/icons/compass-icon.svg" alt="Home icon"></a>
            
            <a href="/matches"><img src="/public/images/icons/heart-icon.svg" alt="Heart icon"></a>

            <a href="/messages"><img src="/public/images/icons/chat-icon.svg" alt="Chat icon"></a>

            <a href="/settings"><img src="/public/images/icons/settings-icon.svg" alt="Settings icon"></a>

    </section>
</footer>