<header>
    <ul id="navbar">
        <li>
            <a href="/"><img src="/public/images/icons/home.svg" alt="Home icon"></a>
        </li>
        <li>
            <a href="/restaurants"><img src="/public/images/icons/restaurants.svg" alt="Restaurant icon"></a>
        </li>
        <li>
            <a href="/matches"><img src="/public/images/icons/matches.svg" alt="Matchcards icon"></a>
        </li>
        <li>
            <a href="/messages"><img src="/public/images/icons/msg.svg" alt="Message icon"></a>
        </li>
        <li>
            <a href="/profile"><img src="/public/images/icons/profile.svg" alt="Profile icon"></a>
        </li>
    </ul>
</header>