<!DOCTYPE html>
<html lang="en">
{{> head }}
<body>
    {{> header }}
    <main>
        {{{body}}}
    </main>
    {{> nav }}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <script src="/public/js/chat.js"></script>
    <script src="/public/js/app.js"></script>
    <script src="/public/js/account.js"></script>
</body>
</html>