<!DOCTYPE html>
<html lang="en">
{{> head }}
<body>
    {{> header }}
    <main>
        {{{body}}}
    </main>
    {{> nav }}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
    <script src="/public/js/chat.js"></script>
    <script src="/public/js/app.js"></script>
    <script src="/public/js/account.js"></script>
</body>
</html>