#accountheader{
    display: flex;
    justify-content: space-between;
    article{
        display: flex;
        flex-direction: column;
        text-align: left;
        a{
            text-decoration: none;
            color: black;
        }
        p{
            margin-left: 1em;
            margin-top: -1em;
        }
    }
    img{
        margin-right: 2em;
        z-index: 10;
    }
}
#accountpagina{
    display: flex;
    justify-content: center;
    text-align: center;
}
