// Messages
@keyframes msg-sent {
    0% {
        transform: translateX(100vw)
    }
    80%{
        transform: translateX(-20vw)
    }
    95%{
        transform: translateX(-15vw)
    }
    100% {
        transform: translateX(0)
    }
}

@keyframes msg-received {
    0% {
        transform: translateX(-100vw)
    }
    80%{
        transform: translateX(20vw)
    }
    95%{
        transform: translateX(15vw)
    }
    100% {
        transform: translateX(0)
    }
}