/* CSS Reset */
*, *::after, *::before {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
body{
    background: $white;
    font-family: $main-font;
}
#chat-container{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 150px;
    display: grid;
    align-content: center;

    form{
        display: flex;
        justify-content: center;
    }
}

ul{
    list-style: none;
}
main {
    padding-bottom: $footer-height * 2;
}
