/* CSS Reset */
*, *::after, *::before {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
body{
    background: rgb(235,242,255);
    background-repeat: no-repeat;
    font-family: $main-font;
}
#chat-container{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 150px;
    display: grid;
    align-content: center;

    form{
        display: flex;
        justify-content: center;
    }
}

main {
    padding-bottom: $footer-height;
}
