.likes {
  h1 {
    font-size: 1.4em;
    position: relative;
    top: 1em;
    left: .5em;
    letter-spacing: .07em;
  }
}
.blokken{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 7em;
  article{
    background-color: hotpink;
    width: 40%;
    aspect-ratio: 1 / 1;
    margin: 1em;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    h2{
      font-size: 1em;
      position: absolute;
      background-color: $primary-color;
      width: 40%;
      text-align: center;
      margin-bottom: 1em;
    }
    img{
      width: 100%;
      height: auto;
    }
  }
}

