/* 
  Custom Properties
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
// Properties
$primary-color: #FFED74;
$alt-color: #363636;
$white-color: #ffffff;
$grey-color: rgb(235,242,255);

$main-font: "poppins", sans-serif;
/* 
  Einde Custom Properties
*/