<h1>Chat</h1>

<section id="message-container">
    <ul></ul>
</section>
<section id="chat-container">
    <form>
        <input type="text" name="message" id="message">
        <button type="submit">Send message</button>
    </form>
</section>